---
import { HeroSection } from "@/components/hero/HeroSection";
import { TechStack } from "@/components/TechStack";
import Main from "../layouts/main.astro";
---

<Main content={{ title: "My Page Title" }}>
  <div class="w-full flex flex-col items-center md:items-start justify-start">
    <HeroSection />
    <div class="w-full pt-6">
      <TechStack client:load />
    </div>
  </div>
</Main>
